.assignment-list {
    flex-grow: 1;
    margin: 0px 10px;
    overflow: auto;
    user-select: none;
}

.assignment-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid;

    margin: 0 10px 0 10px
}

.assignment-container > div {
}